html {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
}

main {
	margin: 0 auto;
	width: 100%;
}

h1 {
	position: fixed;
	padding: 8px;
	color: white;
	-webkit-text-stroke: 2px black;
}

img {
	max-width: 100%;
	margin-bottom: 8px;
}

@media (min-width: 600px) { 
	h1 {
		color: red;
	}
}

@media (min-width: 800px) { 
	h1 {
		color: blue;
	}
}

@media (min-width: 1000px) { 
	h1 {
		color: green;
	}
}